<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trian.continu_temperature">

    <application>
        <activity
            android:name=".TemperatureContinueActivity"
            android:exported="true"
            android:label="@string/title_activity_temperature_continue"
            android:theme="@style/Theme.CexupV2.NoActionBar" />
    </application>

</manifest>