<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.feature.microlife">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_feature_microlife">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <activity
            android:name=".ThermometerActivity"
            android:exported="true"
            android:label="Thermometer"
            android:theme="@style/Theme.NewCexup.NoActionBar" />
        <activity
            android:name=".BloodPressureActivity"
            android:exported="true"
            android:label="Blood Pressure"
            android:theme="@style/Theme.NewCexup.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>