<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trian.camera">

    <application>
        <activity
            android:name=".CameraActivity"
            android:exported="true"
            android:label="@string/activity_name"
            android:theme="@style/Theme.TesMultiModule.NoActionBar" />
    </application>

</manifest>